
* {
    text-align: left; 
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/papyrus.png);
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(110, 110, 110);
}

header {
    box-sizing: content-box;
    background-color: white;
    height: 100px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

footer {
    background-color: grey;
    clear: both;
    padding-bottom: 0;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 100px; 
}

#headerName {
    box-sizing: content-box;
    color:white;
    background-color:#4aaaa5;
    padding: 32px;
    height: 36px;
    margin-left: 211px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    font-family:'Georgia', Times, Times New Roman, serif;
}

/* Navigation block*/
#navigation {
    text-decoration: none;
    font-family:'Georgia', Times, "Times New Roman", serif;
    float: left;
    color: rgb(110, 110, 110);
    height: 17.75px;
    margin: 57px 0px;
    margin-left: 360px;
}

/* Links for the navigation block*/
.navlink {
    padding: 10px;  
}

#contactSection {
    width: 960px;
    padding: 30px; 
    text-align: center;
    background-color: white;
    clear: both;
    border: lightgrey;
    border-style:solid;
    border-width: 1px;
    margin-left: 211px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
}

#contactHeading {
    font-family:'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 20pt;
}

/* Line seperating the heading and the contact form*/
#hrContact {
    color: #666666;
    border-width: 1px;
}

.formTitles {
    padding: 0px;;
}

.inputBox {
    margin: 0px 0px;
    padding: 10px 0px;
    height: 20px;
    width: 100%;
    font-size: 12px;
    color: #8d8d8d;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 3px;
}

/* This is the submit button*/
.submitButton {
    margin: 0px 0px;
    padding: 10px 0px;
    height: 20px;
    font-size: 12px;
    color: #8d8d8d;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 3px;
}

/* This is for the message box*/
.textareaForm {
    height: 100px;
    outline: none !important;
    border:1px solid #cacaca;
}

#hrBottomTeal {
    margin: 0;
    border-width: 2px;
    border-color:rgb(0, 180, 180);
    clear: both;
}

#copyright {
    color: white;
    opacity: 60%;
    text-align: center;
    margin-top: 50px; 
}