
* {
    text-align: left; 
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/papyrus.png);
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(110, 110, 110);
}

header {
    box-sizing: content-box;
    background-color: white;
    height: 100px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

footer {
    background-color: grey;
    clear: both;
    padding-bottom: 0;
    height: 100px; 
    margin-top: -50px;
}

/* This is for the static block with my name*/
#headerName {
    box-sizing: content-box;
    color:white;
    background-color:#4aaaa5;
    padding: 32px;
    height: 36px;
    margin-left: 211px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    font-family:'Georgia', Times, Times New Roman, serif;
}

/* Navigation Formatting */
.navbarlist {
    height: 102 px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(110, 110, 110);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    float: right;
    padding-right: 162px;
    padding-top: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(221, 221, 221);
}

/* Portfolio section formatting begins */
#portfolioSection {
    width: 960px;
    padding: 30px; 
    text-align: center;
    background-color: white;
    clear: both;
    border: lightgrey;
    border-style:solid;
    border-width: 1px;
    margin-left: 211px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
}

#portfolioHeading {
    font-family:'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 20pt;
}

/* Line seperating the heading and the blocks*/
#hrPortfolio {
    color: #666666;
    border-width: 1px;
}

#portfolioGrid {
    display: flex;
    flex-wrap: wrap;

}
/* This is the positioning for each block*/
#hangmanBlock, #rpgBlock, #triviaBlock, 
#rutgersBlock, #rpsBlock {
    position: relative;
    margin: 10px;
}

.portfolio-images{
    width: 300px; 
    height: 300px;
}

 /* Line seperating the heading and the blocks*/
.text-block {
    position: absolute;
    background-color: #4aaaa5bd;
    color: white;
    width: 300px;
    bottom: 12px;
}

 /* Text that is positioned over each image block */
.image-text {
    margin-left: 25px;
    font-size: 20px;
}

 /* Line right above the footer block*/
#hrBottomTeal {
    margin: 0;
    border-width: 2px;
    border-color:rgb(0, 180, 180);
    clear: both;
}

#copyright {
    color: #ccc;
    text-align: center;
    margin-top: 50px; 
}

/* Formatting for screens 980px and below */
@media screen and (max-width: 980px) {
    #portfolioSection {
        margin-left: 100px;
        width: 60%;
        margin-top: 30px;
    }
    
    header {
        height: 50px;
        border-width: thin;
    }

    #headerName {
        height: 30px;
        padding: 11px 20px 10px 20px;
        font-size: 18pt;
        margin-left: 100px;
    }

    .navbarlist {
        padding-right: 20px;
        padding-top: 0px;
        font-size: 12pt;
    }

    .portfolio-images {
        width: 200px;
        height: 200px;
    }

    .text-block {
        width: 200px;
        height: 50px;
    }

    .image-text {
        font-size: 12pt;
        text-align: center;
        margin-left: 0px;
        margin-top: 16px;
    }

    #portfolioHeading {
        margin: 10px 0px;
    }
}

/* Formatting for screens 768px and below */
@media screen and (max-width: 768px) {
    #headerName {
        margin-left: 30px;
    }

    .navbarlist {
        font-size: 11pt;
        margin-right: 45px;
        margin-top: 5px;
    }

    #portfolioSection {
        margin-left: 30px;
        width: 90%;
        font-size: 12pt;

    }

    .portfolio-images {
        width: 275px;
        height: 275px;
        margin-left: 10px;
    }

    .text-block {
        width: 275px;
        height: 50px;
        margin-left: 10px;
    }

    .image-text {
        font-size: 12pt;
        text-align: center;
        margin-left: 0px;
        margin-top: 16px;
    }

    #portfolioHeading {
        margin: 10px 0px;
    }
}

/* Formatting for screens 640px and below */
@media screen and (max-width: 640px) {
    #headerName {
        clear: both;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .navbarlist {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    #portfolioSection {
        margin-top: 20px;
    }

    footer {
        clear: both;
        padding-bottom: 0;
        height: 60px; 
        margin-top: -50px;
    }

    #copyright {
        font-size: 10pt;
        color: #ccc;
        margin-top: 25px;
    }

    #portfolioSection {
        margin-left: 30px;
        margin-top: 70px;
        width: 90%;
        font-size: 12pt;
    }

    .portfolio-images {
        width: 450px;
        height: 450px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .text-block {
        width: 450px;
        height: 100px;
        margin-left: 20px;
        margin-bottom: 20px;
        bottom: 22px;
    }

    .image-text {
        font-size: 24pt;
        text-align: center;
        margin-left: 0px;
        margin-top: 25px;
    }

    #portfolioHeading {
        margin: 10px 0px;
    }
}